#navbr{
  border :1px solid transparent;
  display: flex;
  justify-content:space-around;
  background-color: #24252A;
}
.ab{
  color:#E9EAF0;
  font-weight: bold;
}
#thr{
  padding-top: 16px;
  font-weight: bold;
}

a{
  text-decoration: none;
  padding: 20px;
  color: #838489;
}

button{
  background-color: #0386A8;
  color: #FFF;
  height: 30px;
  width: 90px;
  margin-top: 13px;
  border-radius: 15px;
  border: none;
  
}